

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Twiterl</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Unfollow</a></li>
      </ul>
    
  </div>
</nav>

<div style = "float: left; padding: 20px">
<div class="card" style = " width: 100%;" >
  
    <div class="well well-sm" style = "height: 30px">
        <p style = "text-align: center">{{ follower.name }}</p>
    </div>
  
    <!-- <img style="height: 100px; width: 100%; display:block; border-radius: 40%; vertical-align: middle" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image"> -->
    
  
    <div>
      <h5 style = "text-align: center">@{{ follower.username }}</h5>
    </div> 
  
  
    <ul class="list-group list-group-flush" style = "width: 100% ">
      <li class="list-group-item">Joined {{ follower.data }}</li>
      <li class="list-group-item">From Bucharest</li>
      <li class="list-group-item">Born 16.10.1998</li>
    </ul> 
  
    
  </div>
</div>

<div style = " width: 1000px; float: left">
<ul *ngFor = "let twit of twits">
    <div class="panel panel-primary" style = "width: 1000px">
        <div class="panel-heading">
          <h3 class="panel-title">{{follower.name}} @{{ follower.username }} {{ twit.Data }}</h3>
        </div>
        <div class="panel-body">
          {{ twit.Mesaj }}
          <div >
              <button><small>Likes</small></button><button><small>Shares</small></button>
            </div>
        </div>
      </div>
</ul>
</div>